<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Enviar parametros del Request HTTP GET - URL</title>
</head>
<body>
<h2>Enviar parametros del Request HTTP GET - URL</h2>

<ul>
<li>
	<a th:href="@{/params/string(text='AimerJOseRodriguezVeragra')}">/params/string?text=AimerJOse</a>
</li>
<li>
	<a th:href="@{/params/string(text='Que tal AImer')}">/params/string?text=Que tal Aimer</a>
</li>
<li>
	<a th:href="@{/params/mix-params(saludo='Que tal AImer', edad=28)}">/params/mix-params?saludo=Que tal Aimer y tu edad es 28</a>
</li>
<li>
	<a th:href="@{/params/mix-params-request(saludo='Que tal AImer', edad=28)}">/params/mix-params-request?saludo=Que tal Aimer y tu edad es 28</a>
</li>


</ul>

</body>
</html>